<h1><%= @user.username %></h1>

<% @user.posts.each do |post| %>
  <p>
    <a href="/posts/<%= post.id %>"><%= post.title %></a><br>
    <%= post.category %><br>
    <%= post.user.username %>
    <%= post.description %><br>
    <%= post.url %>
    </p><br>
<% end %>