<section class="section page-section">
  <div class="container">
    <h1 class="title"><%= @user.username %>'s Recommendations</h1>

    <% @user.posts.each do |post| %>
      <p>
        <a href="/posts/<%= post.id %>"><%= post.title %></a><br>
        <%= post.category %><br>
        <%= post.user.username %><br>
        <%= post.description %><br>
        <%= post.url %>
      </p><br>
    <% end %>
  </div>
</section>