<section class="hero signup is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half login-form">
          <h3 class="title ">Sign up</h3><hr>
          
          <form action="/signup" method="POST">
            
            <div class="field">
              <label class="label">Full Name</label>
              <% if @user.errors.include?(:name) %>
                <div class="control">     
                  <input class="input is-danger" type="text" name="name" value="<%= @user.name %>" required>      
                </div>
              <p class="help is-danger">
                  <% @user.errors[:name].each do |error| %>
                    <%= error %>
                  <% end %>
              </p>
              <% else %> 
                <div class="control">     
                  <input class="input" type="text" name="name" value="<%= @user.name %>" required>      
                </div>
              <% end %>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <% if @user.errors.include?(:email) %>
                <div class="control has-icons-left">
                  <input class="input is-danger" type="email" name="email" value="<%= @user.email %>" required>
                  <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <p class="help is-danger">                
                  <% @user.errors[:email].each do |error| %>
                    <%= error %>
                  <% end %>                
                </p>
              <% else %>
                <div class="control has-icons-left">
                  <input class="input" type="email" name="email" value="<%= @user.email %>" required>
                  <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                  </span>
                </div>
              <% end %>    
            </div>
            
            <div class="field">
              <label class="label">Username</label>
                <% if @user.errors.include?(:username) %>
                  <div class="control has-icons-left">
                    <input class="input is-danger" type="text" name="username" value="<%= @user.username %>" required>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <p class="help is-danger">
                    <% @user.errors[:username].each do |error| %>
                      <%= error %>
                    <% end %>
                  </p>
                <% else %>  
                  <div class="control has-icons-left">
                    <input class="input" type="text" name="username" value="<%= @user.username %>" required>
                    <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                    </span>
                  </div>
                <% end %>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <% if @user.errors.include?(:password) %>
                <div class="control has-icons-left">
                  <input class="input is-danger" type="string" name="password" value="<%= @user.password %>" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
                <p class="help is-danger">
                  <% @user.errors[:password].each do |error| %>
                    <%= error %>
                  <% end %>
                </p>
              <% else %>
                <div class="control has-icons-left">
                  <input class="input" type="string" name="password" value="<%= @user.password %>" required>
                  <span class="icon is-small is-left">
                    <i cl ass="fas fa-lock"></i>
                  </span>
                </div>
              <% end %>
            </div>

            <div class="field">
              <div class="control">
                <input class="button submit-btn has-text-weight-semibold is-fullwidth" type="submit" value="Sign up">
              </div>
            </div> 

          </form>
        </div>
      </div>
    </div>
  </div>
</section>