<section class="section page-section">
  <div class="container">
    <h1 class="title">Hello, @<%= current_user.username %>!</h1>
    <p class="subtitle is-6"><a href="/users/<%= current_user.username %>">View your profile</a></p><br>

    <div class="columns">
      <div class="column is-one-quarter">    
        <h3 class="title is-5 has-text-weight-bold">Browse by Category</h3>
        <p>
          <a href="/posts/attractions" class="button is-text">Attractions</a><br>
          <a href="/posts/bars" class="button is-text is-active">Bars</a><br>
          <a href="/posts/cafes" class="button is-text">Cafes</a><br>
          <a href="/posts/museums" class="button is-text">Museums</a><br>
          <a href="/posts/nightlife" class="button is-text">Nightlife</a><br>
          <a href="/posts/parks" class="button is-text">Parks</a><br>
          <a href="/posts/restaurants" class="button is-text">Restaurants</a><br>
          <a href="/posts/dashboard" class="button is-text">View All</a><br>        
        </p>
      </div>

      <div class="column">
        <% @posts.each do |post| %>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>                  
                    <small><a href="/users/<%= post.user.username %>"><%= post.user.username %></a> recommended a(n) <%= post.category.downcase.singularize %></small><br><br>
                    <a href="" class="has-text-weight-bold"><%= post.title %></a><br>          
                    <%= post.description %>                
                  </p>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
</section>