<section class="section page-section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">    
        <h3 class="title is-3 is-spaced">Hello, <%= current_user.name.split.first %>!<h3>
        <p class="subtite is-6"><a href="/users/<%= current_user.username %>">View your profile</a></p><hr>
        <h3 class="title is-6 has-text-weight-bold">Browse by Category</h3>
        <p>
          <a href="/posts/attractions" class="button is-text category-btn has-text-weight-semibold">Attractions</a><br>
          <a href="/posts/bars" class="button is-text category-btn has-text-weight-semibold">Bars</a><br>
          <a href="/posts/beauty-and-spas" class="button is-text category-btn has-text-weight-semibold">Beauty & Spas</a><br>
          <a href="/posts/cafes-and-bakeries" class="button category-btn has-text-weight-semibold is-active">Cafes & Bakeries</a><br>
          <a href="/posts/museums" class="button is-text category-btn has-text-weight-semibold">Museums</a><br>
          <a href="/posts/nightlife" class="button is-text category-btn has-text-weight-semibold">Nightlife</a><br>
          <a href="/posts/parks-and-recreation" class="button is-text category-btn has-text-weight-semibold">Parks & Recreation</a><br>
          <a href="/posts/restaurants" class="button is-text category-btn has-text-weight-semibold">Restaurants</a><br>
          <a href="/posts/dashboard" class="button is-text category-btn has-text-weight-semibold">View All</a><br>        
        </p>
      </div>

      <div class="column">
        <h3 class="title is-5"><i class="fas fa-angle-double-right"></i> CAFES & BAKERIES</h3>
        <% @posts.each do |post| %>
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>                  
                    <small><a href="/users/<%= post.user.username %>"><%= post.user.username %></a> recommended a(n) <%= post.category.downcase.singularize %></small><br><br>
                    <a href="/posts/<%= post.id %>" class="has-text-weight-bold"><%= post.location_name %></a><br>          
                    <%= post.description %>                
                  </p>
                </div>
              </div>
            </article>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
</section>