<section class="section page-section">
  <div class="container">
    <h1 class="title">Hello, @<%= @user.username %>!</h1>
    <hr>

    <% Post.all.each do |post| %>
      <p>
      <%= post.category %><br>
      <a href="/posts/<%= post.id %>"><%= post.title %></a><br>
      <%= post.description %><br>
      <%= post.url %>
      </p><br>
    <% end %>
  </div>
</section>


