<h1 class="title">Hello @<%= @user.username %>!</h1>

<a href="/posts/new">New Recommendation</a>
<a href="/logout">Log Out</a>

<hr>

<% @posts.each do |post| %>
 <h1><%= post.title %></h1>
 <p><%= post.description %></p> 
 <p><%= post.url %></p>
 <hr>
<% end %>

<% @users.each do |user| %>
 <h1><%= user.name %></h1>
 <p><%= user.username %></p>
 <hr>
<% end %>