<h1 class="title">Hello, @<%= @user.username %>!</h1>

<p>
  <% if @posts.empty? %>
    Create your first post!
  <% else %>
    <% @posts.each do |post| %>
      <h1><a href="/posts/<%= post.id %>"><%= post.title %></a></h1>
      <p><%= post.description %></p> 
      <p><%= post.url %></p>
      <hr>
    <% end %>
  <% end %>
</p>


