<section class="section page-section">
  <div class="container">
    <h1 class="title">Your Recommendation</h1>

    <form action="/posts" method="POST">

      <div class="field">
        <label class="label">Category</label>
        <% if @post.errors.include?(:category) %>
          <div class="control">
            <div class="select" >
              <select name="category" required>
                <option value="">Please select one:</option>
                <option value="Attraction">Attractions</option>
                <option value="Bar">Bars</option>
                <option value="Beauty/Spa">Beauty & Spas</option>
                <option value="Cafe/Bakery">Cafes & Bakeries</option>
                <option value="Museum">Museums</option>
                <option value="Nightlife">Nightlife</option>
                <option value="Park/Recreation">Parks & Recreation</option>
                <option value="Restaurant">Restaurants</option>
              </select>
            </div>
          </div>
          <p class="help is-danger">            
            <% @post.errors[:category].each do |error| %>
              <%= error %>
            <% end %>            
          </p>         
        <% else %>
          <div class="control">
            <div class="select">
              <select name="category" value="<%= @post.category %>" required>
                <option value="select">Please select one:</option>
                <option value="Attraction">Attractions</option>
                <option value="Bar">Bars</option>
                <option value="Beauty/Spa">Beauty & Spas</option>
                <option value="Cafe/Bakery">Cafes & Bakeries</option>
                <option value="Museum">Museums</option>
                <option value="Nightlife">Nightlife</option>
                <option value="Park/Recreation">Parks & Recreation</option>
                <option value="Restaurant">Restaurants</option>
              </select>
            </div>
          </div>            
        <% end %>
      </div> 

      <div class="field">
        <label class="label">Title</label>
        <% if @post.errors.include?(:title) %>
          <div class="control">     
            <input class="input is-danger" type="text" name="title" placeholder="A good title is short, sweet, and straight to the point" required>    
          </div>
          <p class="help is-danger">            
            <% @post.errors[:title].each do |error| %>
              <%= error %>
            <% end %>            
          </p>
        <% else %> 
          <div class="control">     
            <input class="input" type="text" name="title" value="<%= @post.title %>" required>      
          </div>
        <% end %>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <% if @post.errors.include?(:description) %>
          <div class="control">
            <textarea class="textarea is-danger" name="description" placeholder="Let everyone know what's so awesome about it, your favorite part(s), and/or any pro tips" required></textarea>
          </div>
          <p class="help is-danger">            
            <% @post.errors[:description].each do |error| %>
              <%= error %>
            <% end %>            
          </p>
        <% else %>
          <div class="control">
            <textarea class="textarea" name="description" required><%= @post.description %></textarea>
          </div>
        <% end %>
      </div>

      <div class="field">
        <label class="label">Link</label>
        <% if @post.errors.include?(:url) %>
          <div class="control">
            <input class="input is-danger" type="url" name="url" placeholder="Add a link to what you're recommending (e.g. a website, Yelp profile, Google maps, etc.)" required>
          </div>
          <p class="help is-danger">            
            <% @post.errors[:url].each do |error| %>
              <%= error %>
            <% end %>            
          </p>
        <% else %>  
          <div class="control">
            <input class="input" type="url" name="url" value="<%= @post.url %>" required>
          </div>
        <% end %>
      </div>

      <div class="field is-horizontal">
        <div class="control">
          <input class="button is-link" type="submit" value="Submit">
        </div>
      </div>  
    </form>
  </div>
</section>