<section class="section page-section">
  <div class="container">
    <h1 class="title"><%= @post.title %></h1>
    <p class="subtitle is-6"><%= @post.category %></p>
    <p><%= @post.description %></p><br>
    <p>Find it here: <a href="<%= @post.url %>" target="_blank"><%= @post.url %></a></p>
    <br>

    <p>
      <% if current_user.id == @post.user_id %>
      <div class="field is-grouped">
        <p class="control"><a href="/posts/<%= @post.id %>/edit" class="button is-info">Edit post</a></p>
        <p class="control"><a href="/posts/dashboard" class="button">Return to dashboard</a></p>      
      </div>

      <form action="/posts/<%= @post.id%>" method="POST">
        <div class="field">
          <div class="control">
            <input type="hidden" name="_method" value="DELETE">
            <input class="button is-small is-danger is-inverted" type="submit" value="Delete">
          </div>
        </div>  
      </form>
      <% end %>
    </p> 
  </div>
</section>
